<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<form method = 'post' action = '/confirm'>
<h1>Your Order</h1>

<% pizzas.each do |item| %>

<% if item.include?("small") || item.include?("medium") || item.include?("large") %>
<br>
<% end %>
<b>  <%= item.tr("0-9", "") %></b>
<br>
<% end %>

<h1>Subtotal: $<%= price %></h1>
<% if delivery == "delivery" %>
  <h1>Delivery Address:</h1>
  <br>
  <input type = "text" name = "address" pattern = "[a-zA-Z0-9]{1-20}">
<% else %>
  <input type = "hidden" name = "address" value = "">
<% end %>
<br>
<br>
<input type = "submit" value = "submit">
<input type = "hidden" name = "delivery" value = "<%= delivery %>">
<input type = "hidden" name = "price" value = "<%= price %>">
<input type = "hidden" name = "pizzas" value = "<%= pizzas %>">
</form>
</body>
