

<form method = 'post' action = '/summary'>

Delivery:
<%= delivery %>
<br>
Your address:
<%= address %>
<br>
Your pizza:<br>
<div>
<% counter = 0 %>
<% pizzalist.each do |item| %>
<% if item == "small" || item == "medium" || item == "large" || item == "thin" || item == "regular" || item == "stuffed" %>
<%= item %><input type = hidden name = "<%= item + counter.to_s %>" value = "yes"><br>
<% else %>
<%= item  %><input type = "radio" name = "<%= item + counter.to_s %>" value = "yes" checked>Keep<input type = "radio" name = "<%= item + counter.to_s %>" value = "no">Discard<br>
<% end %>
<% counter += 1 %>
<% end %>
</div>
<input type = "submit" value = "submit">
<input type = "hidden" name = "address" value = "<%= address %>">
</form>
