<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
Your pizza:<br>
Size: <%= size%><br>
Crust: <%= crust%><br>
Cheese: <%= cheese%><br>
Sauce: <%= sauce%><br>
<% if meats != ["no"] %> 
	Meats: <%= meats%><br>
<%end%>
<% if veggies != ["no"] %>
	Veggies: <%= veggies%><br>
<%end%>
<% if extra != ["no"] %>
	Extra: <%= extra%><br>
<%end%>
<% if delivery == "yes"%>
	Delivery address: <%= address%>
<% else %>
	<%= delivery%>
<%end%>
<br>
Price: $<%= price%>
<br>
</body>

