<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
Your pizza:<br>
Size: <%= size%><br>
Crust: <%= crust%><br>
Cheese: <%= cheese%><br>
Sauce: <%= sauce%><br>
Meats: <%= meats%><br>
Veggies: <%= veggies%><br>
Extra: <%= extra%><br>
Delivery: <%= delivery%><br>
<% if delivery == "yes"%>
Address: <%= address%>
<%end%>
<br>
Price: $<%= price%>
<br>
</body>

