<head>
  <link rel="stylesheet" href="style.css">
</head>

<form method = 'post' action = '/summary'>
<h1>Your pizza:</h1>
<div>
<% counter = 0 %>
<% pizzalist.each do |item| %>
<% if item == "small" || item == "medium" || item == "large" || item == "thin" || item == "regular" || item == "stuffed" %>
<b><%= item %></b><input type = hidden name = "<%= item + counter.to_s %>" value = "yes">
<br>
<% else %>
<p><%= item  %>
<input type = "radio" name = "<%= item + counter.to_s %>" value = "yes" checked>Keep
<input type = "radio" name = "<%= item + counter.to_s %>" value = "no">Discard
<br>
</p>
<% end %>
<% counter += 1 %>
<% end %>
</div>
<input type = "submit" value = "submit">
<input type = "hidden" name = "address" value = "<%= address %>">
</form>
